# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Eclipse #
*.classpath
*.project

### STS (Spring Tool Suite) ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### Maven ###
!/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/target/
*.fn
*.bak
*.swp
~*
/projectFilesBackup
.classpath
*.hprof
*.releaseBackup
*.hprof
repositories.xml
/release.properties
HELP.md

### Gradle ###
.gradle/
gradle/
/build/
* .gradletasknamecache
!**/src/main/**/build/
!**/src/test/**/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Mac OS X #
*.DS_Store

# Windows #
Thumbs.db
Desktop.ini

# VS Code #
.vscode/